<div class="row mt-3">
  <div class="col-6 border-right">
    <h1>Hero List</h1>
    <div class="card d-flex flex-row mt-3">
      <div class="card-image">
        <img
          height="200px"
          src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
        />
      </div>
      <div class="card-body">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">
          Skills :<span class="badge badge-danger mx-1">New</span>
        </p>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
